@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
}

textarea,
input {
  border: none;
  width: 100%;
}
textarea:focus,
input:focus {
  outline: none;
}

button {
  border: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.line-break {
  width: 100%;
  height: 0.5px;
  background-color: #e5e7eb;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-size: 32px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

section {
  margin-bottom: 84px;
}

.tab-list {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.tab-list .tab-item {
  padding: 16px 24px;
  background-color: #efefef;
  color: #7a7a7a;
  border-radius: 50px;
  font-size: 18px;
}
.tab-list .tab-item.active {
  padding: 16px 24px;
  background-color: #f44244;
  color: #ffffff;
  border-radius: 50px;
  font-size: 18px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.product-list .card-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  text-align: center;
  border: 0.1px solid #b8b8b8;
}
.product-list .card-item .card-header {
  position: relative;
  padding: 64px;
  background-color: #efefef;
}
.product-list .card-item .card-header img {
  height: 250px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product-list .card-item .card-header .card-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.15s;
  visibility: hidden;
  opacity: 0;
}
.product-list .card-item .card-header .card-settings .setting-list {
  display: flex;
  justify-content: center;
  gap: 0 24px;
  padding: 18px;
  transition: all 0.15s;
}
.product-list .card-item .card-header .card-settings .setting-list .setting-item i {
  transition: all 0.15s;
  font-size: 22px;
}
.product-list .card-item .card-header .card-settings .setting-list .setting-item:hover i {
  color: #f44244;
}
.product-list .card-item .card-content {
  text-align: left;
  padding: 16px;
}
.product-list .card-item .card-content h1.book-name {
  font-size: 22px;
  font-weight: 500;
}
.product-list .card-item .card-content p.book-price {
  font-size: 18px;
  color: #f44244;
  font-weight: 500;
}
.product-list .card-item .card-content .rating-stars {
  display: flex;
}
.product-list .card-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.product-list .card-item:hover .card-header .card-settings {
  visibility: visible;
  opacity: 1;
}

.size-lg {
  padding: 16px 32px;
}

.primary-button {
  color: #ffffff;
  background-color: #f44244;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: all 0.15s;
}
.primary-button:hover {
  background-color: #000000;
}

.secondary-button {
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  transition: all 0.15s;
}
.secondary-button:hover {
  background-color: #ffffff;
  color: #333333;
}

.underline-button {
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

.btn-w-full {
  width: 100%;
}

.btn-w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.btn-rounded {
  border-radius: 50px;
}

#header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#header .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .container .content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .content .logo #logo-img {
  max-width: 50px;
  height: 50px;
  margin: 12px;
}
#header .container .content .logo h1 {
  font-size: 24px;
  color: #f44244;
}
#header .container .content .search-bar {
  display: flex;
  align-items: center;
  max-width: 570px;
  width: 100%;
  position: relative;
}
#header .container .content .search-bar form {
  width: 100%;
  padding: 0px 8px;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
}
#header .container .content .search-bar form #headerSearchInput {
  font-size: 16px;
  width: 100%;
  height: 48px;
}
#header .container .content .search-bar .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44244;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  transition: 0.3s all;
}
#header .container .content .search-bar .search-icon:hover {
  background-color: #333333;
}
#header .container .content .navigation {
  display: flex;
  align-items: center;
  gap: 0 24px;
  color: #202226;
}
#header .container .content .navigation .shopping {
  display: flex;
  align-items: center;
  gap: 0px 8px;
}
#header .container .content .navigation .shopping .cart {
  font-size: 18px;
  position: relative;
}
#header .container .content .navigation .shopping .cart .cart-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: #ffffff;
  background-color: #f44244;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -9px;
}
#header .container .content .navigation .settings {
  font-size: 18px;
}
#header .menu {
  padding: 24px;
}
#header .menu nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 32px;
}
#header .menu nav ul li a {
  position: relative;
}
#header .menu nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #333333;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.15s;
}
#header .menu nav ul li:hover a::after {
  width: 100%;
}

footer {
  background-color: #efefef;
}
footer .footer-col-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 32px;
  padding: 48px 0;
}
footer .footer-col-list .footer-col {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
footer .footer-col-list .footer-col h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
footer .footer-col-list .footer-col ul {
  color: #7a7a7a;
}
footer .footer-col-list .footer-col ul li {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 16px;
}
footer .footer-col-list .footer-col ul li:hover a {
  text-decoration: underline;
}
footer .footer-col-list .footer-col:nth-child(1) p {
  color: #7a7a7a;
}
footer .footer-col-list .footer-col:nth-child(1) ul li a span {
  color: #f44244;
}
footer .footer-col-list .footer-col:nth-child(1) ul li:hover a {
  text-decoration: none;
}

#blog .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #333333;
}
#blog .content .card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 16px;
}
#blog .content .card-list .card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px 0px;
  text-align: center;
  padding: 16px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
}
#blog .content .card-list .card-item .img-wrapper {
  position: relative;
  overflow: hidden;
}
#blog .content .card-list .card-item .img-wrapper img {
  transition: all 0.4s;
  width: 100%;
}
#blog .content .card-list .card-item .card-title {
  font-size: 18px;
  font-weight: 500;
}
#blog .content .card-list .card-item .other-infor {
  color: #b8b8b8;
  font-weight: 300;
  color: 14px;
}
#blog .content .card-list .card-item .card-desc {
  font-size: 12px;
}
#blog .content .card-list .card-item:hover .img-wrapper img {
  transform: scale(1.1);
}
#blog .content .card-list .card-item:hover .read-more-btn {
  background-color: #333333;
  color: #ffffff;
}

#promotion .banner-list {
  color: white;
  min-height: 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 24px;
}
#promotion .banner-list .banner-item {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
#promotion .banner-list .banner-item img {
  width: 100%;
  transition: all 0.5s;
}
#promotion .banner-list .banner-item:hover img {
  transform: scale(1.1);
}
#promotion .banner-list .banner-item .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px;
}
#promotion .banner-list .banner-item .banner-content .title {
  font-size: 32px;
  font-weight: 600;
}
#promotion .banner-list .banner-item .banner-content .name {
  font-size: 18px;
  margin-bottom: 8px;
}

#carousel {
  position: relative;
  padding: 231.5px 0px 0px;
  display: flex;
}
#carousel .slides {
  position: absolute;
  bottom: -5%;
  left: 10%;
  z-index: 9999;
}
#carousel .slides .slide-item {
  display: none;
}
#carousel .slides .slide-item.active {
  display: block;
}
#carousel .slides .slide-item .slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 32px;
}
#carousel .slides .slide-item .slide-content .book-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px 0px;
  color: #ffffff;
}
#carousel .slides .slide-item .slide-content .book-info .book-title {
  font-size: 32px;
}
#carousel .slides .slide-item .slide-content .book-info .book-author {
  font-size: 24px;
}
#carousel .slides .slide-item .slide-content .book-info .book-price {
  font-size: 20px;
}
#carousel .overlays {
  position: relative;
  width: 75%;
  max-width: 1000px;
  height: 320px;
}
#carousel .overlays .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bar-color);
  transform-origin: left;
}
#carousel .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 6em;
  list-style-type: none;
}
#carousel .nav-links .nav-link {
  font-size: 2rem;
  font-family: Lora, serif;
  line-height: 2;
  text-decoration: none;
  color: #7f8c8d;
  transition: 0.3s;
}
#carousel .nav-links .nav-link:hover {
  color: #1c1e1f;
}
#carousel .nav-links .nav-link.active {
  color: black;
  pointer-events: none;
}

.slider-js__view {
  width: 1272px;
  height: 250px;
  background: white;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider-js__control {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  border: 1px solid #c2c2c2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.slider-js__control svg {
  fill: none;
  height: 24px;
  width: 24px;
  color: #212121;
}
.slider-js__control:hover {
  border-color: #f44244;
}
.slider-js__control:hover svg {
  color: #f44244;
}
.slider-js__control.js-carousel-prev {
  left: 0;
  transform: translateY(-50%) translateX(20px);
}
.slider-js__control.js-carousel-next {
  right: 0;
  transform: translateY(-50%) translateX(-20px);
}
.slider-js:hover .slider-js__control {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0px);
}

.slider-product-list {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  transform: translateX(0px);
  list-style: none;
  height: 250px;
}
.slider-product-list__item {
  width: 250px;
  height: 250px;
  display: inline-block;
}

.slider-product {
  display: table;
  height: 100%;
  width: 100%;
}
.slider-product span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 50px;
}
.slider-product .slider-content {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px 0;
}
.slider-product .slider-content a img {
  max-width: 75px;
  margin-bottom: 8px;
}
.slider-product .slider-content .slider-header h2 {
  font-size: 24px;
  font-weight: 500;
}
.slider-product .slider-content .slider-header p {
  font-size: 18px;
}
.slider-product[data-slide="1"] {
  background-color: #f5fdff;
}
.slider-product[data-slide="2"] {
  background-color: #faf1ff;
}
.slider-product[data-slide="3"] {
  background-color: #faf4eb;
}
.slider-product[data-slide="4"] {
  background-color: #e6f2f4;
}
.slider-product[data-slide="5"] {
  background-color: #f4e6e5;
}
.slider-product[data-slide="6"] {
  background-color: #f3fdec;
}

#category .category-rows {
  display: flex;
  flex-direction: column;
  gap: 84px 0;
}
#category .category-rows .category-item {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
#category .category-rows .category-item h2.category-title {
  font-size: 32px;
  font-weight: 500;
}

#collections {
  margin-bottom: 84px;
}
#collections .collection-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 0;
}

#client {
  background-image: url(../assets/client-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#best-seller {
  padding-top: 147.5px;
}
#best-seller .container {
  position: relative;
  max-width: 320px;
  margin: 40px auto 0 auto;
  perspective: 1000px;
}
#best-seller .container .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
#best-seller .container .carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  display: flex;
  border-radius: 4px;
  transition: all 0.5s;
}
#best-seller .container .carousel__face span {
  margin: auto;
  font-size: 2rem;
}
#best-seller .container .carousel__face:nth-child(1) {
  background-image: url("../assets/carousel-1.webp");
  transform: rotateY(0deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(1):after {
  content: "";
  position: absolute;
  background: #56838b;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-radius: 4px;
}
#best-seller .container .carousel__face:nth-child(2) {
  background-image: url("../assets/carousel-2.webp");
  transform: rotateY(40deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(2):after {
  content: "";
  position: absolute;
  background: #aaa9a0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
#best-seller .container .carousel__face:nth-child(3) {
  background-image: url("../assets/carousel-3.webp");
  transform: rotateY(80deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(3):after {
  content: "";
  position: absolute;
  background: #6183a1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
#best-seller .container .carousel__face:nth-child(4) {
  background-image: url("../assets/carousel-1.webp");
  transform: rotateY(120deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(4):after {
  content: "";
  position: absolute;
  background: #56838b;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-radius: 4px;
}
#best-seller .container .carousel__face:nth-child(5) {
  background-image: url("../assets/carousel-2.webp");
  transform: rotateY(160deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(5):after {
  content: "";
  position: absolute;
  background: #aaa9a0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
#best-seller .container .carousel__face:nth-child(6) {
  background-image: url("../assets/carousel-3.webp");
  transform: rotateY(200deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(6):after {
  content: "";
  position: absolute;
  background: #6183a1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
#best-seller .container .carousel__face:nth-child(7) {
  background-image: url("../assets/carousel-1.webp");
  transform: rotateY(240deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(7):after {
  content: "";
  position: absolute;
  background: #56838b;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-radius: 4px;
}
#best-seller .container .carousel__face:nth-child(8) {
  background-image: url("../assets/carousel-1.webp");
  transform: rotateY(280deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(8):after {
  content: "";
  position: absolute;
  background: #aaa9a0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
#best-seller .container .carousel__face:nth-child(9) {
  background-image: url("../assets/carousel-1.webp");
  transform: rotateY(320deg) translateZ(430px);
}
#best-seller .container .carousel__face:nth-child(9):after {
  content: "";
  position: absolute;
  background: #6183a1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

#detail {
  padding: 231.5px 0px 84px 0px;
  min-height: calc(100vh - 370px);
}

figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

figure.zoom img:hover {
  opacity: 0;
}

figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

#related-product {
  margin-bottom: 84px;
}
#related-product .product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
#related-product .product-list .card-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  text-align: center;
  border: 0.1px solid #b8b8b8;
}
#related-product .product-list .card-item .card-header {
  position: relative;
  padding: 64px;
  background-color: #efefef;
}
#related-product .product-list .card-item .card-header img {
  height: 230px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#related-product .product-list .card-item .card-header .card-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.15s;
  visibility: hidden;
  opacity: 0;
}
#related-product .product-list .card-item .card-header .card-settings .setting-list {
  display: flex;
  justify-content: center;
  gap: 0 24px;
  padding: 18px;
  transition: all 0.15s;
}
#related-product .product-list .card-item .card-header .card-settings .setting-list .setting-item i {
  transition: all 0.15s;
  font-size: 22px;
}
#related-product .product-list .card-item .card-header .card-settings .setting-list .setting-item:hover i {
  color: #f44244;
}
#related-product .product-list .card-item .card-content {
  text-align: left;
  padding: 16px;
}
#related-product .product-list .card-item .card-content .rating-stars {
  display: flex;
}
#related-product .product-list .card-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#related-product .product-list .card-item:hover .card-header .card-settings {
  visibility: visible;
  opacity: 1;
}

#contact {
  padding: 231.5px 0px 0px;
}
#contact .contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 24px;
}
#contact .contact-content .contact-form .form-title {
  margin-bottom: 32px;
}
#contact .contact-content .contact-form .form-title h1 {
  color: #f44244;
  font-size: 44px;
  font-weight: 500;
}
#contact .contact-content .contact-intro {
  background-image: url(../assets/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 8px 8px 84px;
}

form#contact {
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px;
  border: 1px solid #e5e7eb;
  gap: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
form#contact .form-control {
  width: 100%;
}
form#contact .form-control label {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
form#contact .form-control input[type=text],
form#contact .form-control input[type=email],
form#contact .form-control input[type=phone],
form#contact .form-control textarea {
  border: 1px solid #e5e7eb;
  padding: 16px;
  border-radius: 8px;
}
form#contact .form-control[type=radio], form#contact .form-control[type=checkbox] {
  display: flex;
  gap: 0 32px;
}
form#contact .form-control[type=radio] legend, form#contact .form-control[type=checkbox] legend {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
form#contact .form-control[type=radio] .control-radio,
form#contact .form-control[type=radio] .control-checkbox, form#contact .form-control[type=checkbox] .control-radio,
form#contact .form-control[type=checkbox] .control-checkbox {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
form#contact .form-control[type=radio] .control-radio label,
form#contact .form-control[type=radio] .control-checkbox label, form#contact .form-control[type=checkbox] .control-radio label,
form#contact .form-control[type=checkbox] .control-checkbox label {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
form#contact .form-control[type=select] {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
form#contact .form-control[type=select] select {
  flex: 1;
  border: 1px solid #e5e7eb;
  padding: 16px;
  border-radius: 8px;
}

.splide.service .splide__arrow {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  border: 1px solid #c2c2c2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.splide.service .splide__arrow svg {
  fill: none;
  height: 24px;
  width: 24px;
  color: #212121;
}
.splide.service .splide__arrow:hover {
  border-color: #f44244;
}
.splide.service .splide__arrow:hover svg {
  color: #f44244;
}
.splide.service .splide__arrow--prev {
  left: 0;
  transform: translateY(-50%) translateX(20px);
}
.splide.service .splide__arrow--next {
  right: 0;
  transform: translateY(-50%) translateX(-20px);
}
.splide.service:hover .splide__arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0px);
}

#client .splide .splide__arrow {
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
#client .splide .splide__arrow svg {
  fill: none;
  height: 24px;
  width: 24px;
  color: #212121;
}
#client .splide .splide__arrow:hover {
  background-color: #f44244;
}
#client .splide .splide__arrow:hover svg {
  color: #ffffff;
}
#client .splide .splide__arrow--prev {
  left: -48px;
  transform: translateY(-50%) translateX(20px);
}
#client .splide .splide__arrow--next {
  right: -48px;
  transform: translateY(-50%) translateX(-20px);
}
#client .splide:hover .splide__arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0px);
}/*# sourceMappingURL=main.css.map */