#detail {
  padding: calc(147.5px + 84px) 0px 84px 0px;
  min-height: calc(100vh - 370px);

  #book-infor {
    .book-cols {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 $g-10;
      .book-image {
        .image-wrapper {
          border: 1px solid $bright-solid-gray;
          padding: $pd-12 0px;
          margin-bottom: $m-4;
          figure {
            margin: 0 auto;
            max-width: 300px;
          }
        }
        .related-image {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 0 $g-4;
          .image-item {
            .item-wrapper {
              padding: $pd-6;
              border: 1px solid $bright-solid-gray;
              text-align: center;
              img {
                max-height: 100px;
                margin: auto;
              }
            }
          }
        }
      }
      .book-details {
        display: flex;
        flex-direction: column;
        gap: $g-4 0px;
        .status-badge {
          border-radius: 50px;
          padding: $pd-2 $pd-4;
          background-color: $primary;
          color: $white;
          max-width: fit-content;
          font-size: 14px;
        }
        .book-name {
          font-size: 32px;
          font-weight: 500;
        }
        .book-author {
          font-size: 24px;
          font-weight: 500;
        }
        .book-price {
          font-size: 32px;
          color: $primary;
        }

        .quantity-btns {
          display: flex;
          align-items: center;
          border: 1px solid $philippine-silver;
          gap: 0 $g-4;
          border-radius: 50px;
          max-width: fit-content;
          padding: $pd-4;
          button {
            cursor: pointer;
            background-color: transparent;
            &:hover {
              color: $gray;
            }
            i {
              font-size: 18px;
            }
          }
        }

        .sharing-social-media {
          display: flex;
          align-items: center;
          gap: 0 $g-4;
          .icon-wrapper {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            color: $white;
            &.instagram {
              background-color: $royal-fuchsia;
            }
            &.facebook {
              background-color: $blue-solid;
            }

            &.twitter {
              background-color: $cerulean-solid;
            }
          }
        }
      }
    }
  }
}

figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

figure.zoom img:hover {
  opacity: 0;
}

figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
