#related-product {
  margin-bottom: 84px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $g-8 0px;
  }
}

@media all and (max-width: 768px) {
  #related-product {
    margin-bottom: $m-8;
    .content {
      gap: $g-4 0px;
    }
  }
}
