#blog {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $g-10;
    color: $secondary;

    .card-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 $g-4;
      .card-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $g-4 0px;
        text-align: center;
        padding: $pd-4;
        border: 1px solid $bright-solid-gray;
        cursor: pointer;
        .img-wrapper {
          position: relative;
          overflow: hidden;
          img {
            transition: all 0.4s;
            width: 100%;
          }
        }

        .card-title {
          font-size: 18px;
          font-weight: 500;
        }

        .other-infor {
          color: $philippine-silver;
          font-weight: 300;
          color: 14px;
        }

        .card-desc {
          font-size: 12px;
        }

        &:hover .img-wrapper img {
          transform: scale(1.1);
        }
        &:hover .read-more-btn {
          background-color: $secondary;
          color: $white;
        }
      }
    }
  }
}
