#category {
  .category-rows {
    display: flex;
    flex-direction: column;
    gap: 84px 0;
    .category-item {
      display: flex;
      flex-direction: column;
      gap: 24px 0;
      h2.category-title {
        font-size: 32px;
        font-weight: 500;
      }
    }
  }
}
