#intro-video {
  margin-top: $m-8;
  .content {
    .intro-title {
      margin-bottom: $m-8;
    }
    iframe {
      width: 100%;
      height: 650px;
    }
  }
}

@media all and (max-width: 992px) {
  #intro-video {
    margin-top: $m-6;

    .content {
      iframe {
        width: 100%;
        height: 450px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  #intro-video {
    .content {
      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
}
