footer {
  background-color: $bright-gray;
  .footer-col-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: $g-8;
    padding: $pd-12 0;
    .footer-col {
      display: flex;
      flex-direction: column;
      gap: $g-6 0;
      h2 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
      }
      ul {
        color: $gray;
        li {
          display: flex;
          align-items: center;
          gap: 0 $g-4;
          margin-bottom: $m-4;
          &:hover a {
            text-decoration: underline;
          }
        }
      }
      &:nth-child(1) {
        p {
          color: $gray;
        }
        ul {
          li {
            a span {
              color: $primary;
            }
            &:hover a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  footer {
    .footer-col-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media all and (max-width: 576px) {
  footer {
    .footer-col-list {
      display: block;
    }
  }
}
