#header {
  background-color: #ffffff;
  box-shadow: $header-shadow;
  position: fixed;
  width: 100%;
  z-index: 9999;
  .container {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        #logo-img {
          max-width: 50px;
          height: 50px;
          margin: 12px;
        }
        h1 {
          font-size: 24px;
          color: $primary;
        }
      }
      .search-bar {
        display: flex;
        align-items: center;
        max-width: 570px;
        width: 100%;
        position: relative;
        form {
          width: 100%;
          padding: 0px 8px;
          border: 1px solid $philippine-silver;
          border-radius: 4px;

          #headerSearchInput {
            font-size: 16px;
            width: 100%;
            height: calc(50px - 2px);
          }
        }
        .search-icon {
          position: absolute;
          right: 0;
          top: 0;

          width: 90px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;
          color: $white;
          border-radius: 0px 4px 4px 0px;

          transition: 0.3s all;

          &:hover {
            background-color: $secondary;
          }
        }
      }

      .navigation {
        display: flex;
        align-items: center;
        gap: 0 24px;

        color: $raisin-black;
        .shopping {
          display: flex;
          align-items: center;
          gap: 0px 8px;
          .cart {
            font-size: 18px;
            position: relative;
            .cart-number {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              font-size: 12px;
              color: $white;
              background-color: $primary;

              display: flex;
              align-items: center;
              justify-content: center;

              position: absolute;
              top: -18px;
              right: -9px;
            }
          }
        }

        .settings {
          font-size: 18px;
        }
      }
    }
  }

  .menu {
    padding: $pd-6;
    nav {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 $g-8;
        li {
          a {
            position: relative;
            &::after {
              content: "";
              width: 0;
              height: 2px;
              background-color: $secondary;
              position: absolute;
              bottom: -8px;
              left: 0;
              transition: all 0.15s;
            }
            &.active::after {
              width: 100%;
            }
          }
          &:hover a::after {
            width: 100%;
          }
        }
      }
    }
  }
}
