#products {
  padding: calc(147.5px + 84px) 0px 84px 0px;
  min-height: calc(100vh - 370px);

  .layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0px $g-8;
    .side-bar {
      .bar-list {
        background-color: $primary;
        border-radius: 4px;
        border: 8px solid $primary;
        .bar-item {
          text-align: left;
          button.category-toggle {
            cursor: pointer;
            border-radius: 4px;
            padding: $pd-4 $pd-6;
            background-color: transparent;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $white;
            transition: all 0.15s;
            text-align: left;

            i.fa-chevron-down {
              transition: all 0.5s;
              &.active {
                transform: rotate(-180deg);
              }
            }

            .category-title {
              font-size: 18px;
              font-weight: 500;
            }

            &:hover {
              background-color: $lust;
            }
          }
          .sub-category {
            height: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            transition: ease-in-out 0.4s;
            &.active {
              height: 100%;
              visibility: visible;
            }

            .sub-item {
              background-color: transparent;
              color: $white;
              padding: $pd-4 $pd-6 $pd-4 $pd-12;
              font-size: 18px;
              width: 100%;
              text-align: start;
              border-radius: 4px;
              cursor: pointer;

              &:hover {
                background-color: $lust;
              }
              &.active {
                background-color: $white;
                color: $secondary;
              }
            }
          }
        }
      }
    }

    .products-col {
      .category-title {
        margin-bottom: $m-4;
      }
      .product-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media all and (max-width: 992px) {
  #products {
    .layout {
      .side-bar {
        min-width: 230px;
        .bar-list {
          .bar-item {
            text-align: left;
            button.category-toggle {
              padding: $pd-2 $pd-3;
            }
            .sub-category {
              .sub-item {
                padding: $pd-2 $pd-5;
              }
            }
          }
        }
      }
      .products-col {
        .product-list {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  #products {
    padding: $pd-8 0px 0px 0px;
  }
}

@media all and (max-width: 768px) {
  #products {
    .layout {
      display: flex;
      flex-direction: column;
      gap: $g-4 0px;

      .products-col {
        h1.category-title {
          font-size: 24px;
        }
      }
    }
  }
}

@media all and (max-width: 420px) {
  #products {
    .layout {
      display: flex;
      flex-direction: column;
      gap: $g-4 0px;
      .products-col {
        h1.category-title {
          font-size: 24px;
        }
        .product-list {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
